Source: mint-cinnamon-themes
Section: x11
Priority: optional
Maintainer: James Lu <glolol1@hotmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: mint-cinnamon-themes
Architecture: all
Depends: ${misc:Depends}
Replaces: cinnamon-themes
Provides: cinnamon-themes
Description: Cinnamon themes from Linux Mint
 Cinnamon is a desktop environment which provides advanced innovative features
 and a traditional user experience.
 .
 This package provides the Cinnamon themes bundled with a regular installation
 of Linux Mint.
